<h3>Your Listings</h3>
<div id='listings-button-bar'>
  <span id='mass-edit-widget'>
    <%= render 'mass_edit_buttons' %>
  </span>

  <span id='listings-selection-widget'>
    <%= render 'filter_buttons' %>
  </span>
</div>

<table class="table fixed-header">
  <thead>
    <tr>
      <th><input type="checkbox" id="select_all_checkbox"></th>
      <th>Title</th>
      <th>Pricing</th>
      <th>Age</th>
    </tr>
  </thead>

  <tbody id='listings-table-body'>
    <%= render 'listings_table_body', listings: @listings %>
  </tbody>
</table>

<%= javascript_tag do %>
 
    // If the user clicks on the select-all checkbox, we want to toggle all
    // listings as on or off.
    $('#select_all_checkbox').on('change', function(event){
      // set all the listings checkboxes to the same as the 
      // select_all_checkbox
      console.log('changing checkboxes to ' + $(event.target).is(':checked'))
      $('.listing-checkbox').prop('checked', $(event.target).is(':checked'))
    })

    // Mass editing widget button got clicked
    $('#mass-edit-widget button').on('click', function(event){
      console.log('mass editing button clicked');
      // collect the IDs of all the checked listings
      checked_listings = $('.listing-checkbox:checked')
      ids = checked_listings.map(function() {
        return $(this).attr('data-object-id');
      }).get().join();

      // TODO 3.1 - Add javascript/jquery code here to issue an AJAX call with 
      // the following characteristics:
      //   type:  POST
      //   path:  '/listings/mass_edit.js'
      //   data:  { id_list: ids, status_to_set: $(event.target).attr('data-status') }
      //   complete function:  uncheck the listings that were previously checked.
      //     hint:  The var checked_listings holds all those elements.
      //            You can uncheck a checkbox using a jQuery function on 
      //            the element, prop(), passing it 'checked' and false.
      //            Google search for jquery unchecking checkbox.  Also look
//            at line 35 above.


$.post(
'/listings/mass_edit.js',
{ id_list: ids, status_to_set: $(event.target).attr('data-status') },
function(data){
   $('.listing-checkbox').prop('checked', false);
})

    })

<% end %>
